@model Web.Viewmodels.Facets.FacetEditViewModel

@{
    ViewData["Title"] = "Редактировать справочник";
}

<div class="container mt-5">
    <h1 class="mb-4">Редактировать справочник</h1>
    <form method="post" asp-action="Edit">
        @Html.HiddenFor(model => model.FacetEditDto.Id)
        <div class="mb-3">
            <label asp-for="FacetEditDto.Code" class="form-label"></label>
            <input asp-for="FacetEditDto.Code" class="form-control" />
            <span asp-validation-for="FacetEditDto.Code" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FacetEditDto.DisplayName" class="form-label"></label>
            <input asp-for="FacetEditDto.DisplayName" class="form-control" />
            <span asp-validation-for="FacetEditDto.DisplayName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FacetEditDto.Description" class="form-label"></label>
            <textarea asp-for="FacetEditDto.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="FacetEditDto.Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-action="List" class="btn btn-secondary">Отмена</a>
    </form>
</div>