@model Web.Viewmodels.Projects.ProjectTaskEditViewModel

@{
ViewData["Title"] = "Редактировать задачу проекта";
}

<div class="container mt-5">
    <h1 class="mb-4">Редактировать задачу проекта</h1>
    <form method="post" asp-action="Edit">
        <input type="hidden" name="Id" value="@Model.ProjectTaskEditDto.Id">
        <div class="mb-3">
            <label for="DisplayName" class="form-label">Название</label>
            <input type="text" class="form-control" id="DisplayName" name="DisplayName" value="@Model.ProjectTaskEditDto.DisplayName">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Описание</label>
            <textarea class="form-control" id="Description" name="Description" rows="3">@Model.ProjectTaskEditDto.Description</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-action="List" asp-controller="ProjectTask" class="btn btn-secondary">Отмена</a>
    </form>
</div>
