@{
    ViewData["Title"] = "Домашняя страница";
}
<div>
    <h1>Добро пожаловать в систему менеджмента проектирвоания диплома!</h1>
    <p>Перейти на страницу <a asp-area="Identity" asp-page="/Account/Login">входа</a> to access your dashboard.</p>
</div>